<h3 style="text-align: right">
	<%= link_to '', lists_path, { :class => "glyphicon glyphicon-circle-arrow-left
", :display => 'inline' } %>
	<%= link_to '', new_list_path, { :class => "glyphicon glyphicon-plus", :display => 'inline' } %>
</h3>

<div class="panel panel-info" style="max-width:730px">
	<div class="panel-heading">
		<h3 class="panel-title"><%= @list.title %></h3>					
	</div>
	
	<div class="panel-body">
		<%= @list.text %>
	</div>
</div>

<%= link_to 'Edit list title / description', edit_list_path(@list) %>

<h3>All tasks</h3>

	<% @list.tasks.each do |task| %>
		
		<div style="background-color:#FFEA96">
		<p>
			<strong>Description:</strong>
			<%= task.description %>
		</p>
	 
	  	<p>
			<strong>Due date:</strong>
			<%= task.duedate %>
	  	</p>

		<p><%= link_to 'Delete', [task.list, task],
				   method: :delete,
				   data: { confirm: 'Are you sure?' } %>
			<%= link_to 'Edit', edit_list_task_path(list_id:@list.id, id:task.id) %>
			Tags: <%= raw task.tag_list.map { |t| link_to t, list_tag_path(:tag => t, :list_id => @list.id) }.join(', ') %>
		</p>
		</div>

	<% end %>

<%= render "tasks/form", locals: {list_id: @list.id} %>




