<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @list.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @list.text %>
</p>
<%= link_to 'Back', lists_path %>
<%= link_to 'Edit list title / description', edit_list_path(@list) %>

<h2>List of tasks</h2>
	<% @list.tasks.each do |task| %>
		
		<div style="background-color:#FFEA96">
		<p>
			<strong>Description:</strong>
			<%= task.description %>
		</p>
	 
	  	<p>
			<strong>Due date:</strong>
			<%= task.duedate %>
	  	</p>

		<p><%= link_to 'Delete', [task.list, task],
				   method: :delete,
				   data: { confirm: 'Are you sure?' } %>
			<%= link_to 'Edit', edit_list_task_path(list_id:@list.id, id:task.id) %>
			Tags: <%= raw task.tag_list.map { |t| link_to t, list_tag_path(:tag => t, :list_id => @list.id) }.join(', ') %>
		</p>
		</div>

	<% end %>

<%= render "tasks/form", locals: {list_id: @list.id} %>




