<%= form_for([@list, @list.tasks.build]) do |f| %>

	<div class="input-group margin">
		<span class="input-group-addon" id="basic-addon1">Description</span>
			<%= f.text_field :description, { :class => 'form-control' } %>
	</div>

	<div class="field">
		<%= f.label :duedate %><br>
		<%= f.datetime_select :duedate, {include_blank: true, default: nil} %>
	</div>

	<div class="input-group margin">
		<span class="input-group-addon" id="basic-addon1">Tags (seperated by commas)</span>
			<%= f.text_field :tag_list, { :class => 'form-control' } %>
	</div>


	<div class="actions" style="text-align:right">
		<%= f.submit :class => 'btn btn-success' %>
	</div>

<% end %>

<%= link_to 'Back', lists_path, { :class => 'btn btn-default' } %>
