<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Duedate</th>
      <th>Completed</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.duedate %></td>
        <td><%= task.completed %></td>
        <td><%= task.tag_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

