<p id="notice"><%= notice %></p>

<h3>Listing Tasks tagged with '<%= params[:tag] %>'</h3>

  <ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
      <h4><%= task.description %></h4>
      <p>
      <% if task.duedate %>
        <strong>Due date:</strong>
        <%= task.duedate %>
      <% end %>
      </p>
      
      <div style="align-right; width:100%">
    </li>

  <% end %>
  </ul>

<%= link_to 'Back', :back, { :class => 'btn btn-default' } %>


