<!DOCTYPE html>
<html>
<head>
  <title>Foobar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="max-width:730px">
<%= image_tag 'todo_logo.png', { :class => 'image-responsive', :style => 'margin-top:20px' }%>

<% flash.each do |key, value| %>
  <div class="alert alert-success"><%= value %></div>
<% end %>

<%= yield %>

</div>

</body>
</html>
